@import page-board/layout

$column-numbers: 12

.grid
  //border: 1px dashed $color-grey-50
  position: relative
  height: 100%

  &.parent
    height: 100vh

  .controls-toggler
    +z-index(column-controls)

    cursor: pointer
    position: absolute
    left: 0
    top: 0
    padding: rem(12px)

    i
      +border-radius(100%)
      +animation(pulse 2s linear infinite)

      display: block
      width: 10px
      height: 10px
      background: #2ecc71

  .controls
    +z-index(column-controls)
    @extend .unstyled
    @extend .text-center

    //opacity: 0
    background: rgba(255, 255, 255, .9)
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    font:
      size: rem(12px)

    i.fa
      margin-right: $half-unit-layout
      color: #2ecc71

    > li
      position: absolute
      width: 100%
      height: 60%
      left: 0
      top: 20%
      //background: blue

      .action
        cursor: pointer
        font:
          family: $ff-meslo
          size: rem(11px)

        +hover
          +animation(pulse .25s linear)

      &:first-of-type
        display: table
        height: 20%
        top: 0
        //background: orange

        .action
          display: table-cell
          vertical-align: middle
          font:
            size: rem(16px)

      &:last-of-type
        height: 20%
        display: table
        top: auto
        bottom: 0
        //background: green

        .action
          display: table-cell
          vertical-align: middle
          font:
            size: rem(16px)

      > ul
        +clearfix
        @extend .unstyled

        height: 100%

        > li
          height: 100%
          float: left
          width: 80%

          &:first-of-type
            display: table
            width: 10%

            i.fa
              margin-right: 0

            .action
              display: table-cell
              vertical-align: middle
              font:
                size: rem(16px)

          &:last-of-type
            display: table
            width: 10%

            i.fa
              margin-right: 0

            .action
              display: table-cell
              vertical-align: middle
              font:
                size: rem(16px)

          > ul
            @extend .unstyled

            width: 100%
            height: 100%

            > li
              display: table
              width: 100%
              height: 25%

              .action
                display: table-cell
                vertical-align: middle

                i.fa
                  position: relative
                  top: 1px
                  font:
                    size: rem(15px)

  .row
    +clearfix

    height: 100%
    border-bottom: 1px solid $color-grey-50

    &:last-of-type
      border-bottom: 0

    .column
      position: relative
      height: 100%
      border-right: 1px solid $color-grey-50

      &.blur
        article
          filter: blur(2px)

      &:last-of-type
        border-right: 0

      .uoi-bounding-box
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%

        article
          +z-index(uoi-content)

          padding: $double-unit-layout
          font:
            family: $ff-meslo

          a
            color: #2980b9

            &[expand-umi]
              color: #2ecc71

          strong, b
            font:
              weight: 500
              family: $ff-meslo-bold

          .label
            border-color: $color-black
            color: $color-black
            display: inline-block
            white-space: nowrap
            font:
              size: rem(12px)

          .heading
            display: block
            margin: 0
            padding: $half-unit-layout 0 $base-unit-layout
            font:
              family: $ff-meslo-bold
              size: rem(18px)
              // Safari normalisation
              weight: 500

          main
            line-height: 1.6
            font:
              size: rem(13px)

            h3
              font:
                family: $ff-meslo-bold
                size: rem(16px)

@for $i from 1 through $column-numbers
  .columns-#{$i}
    > .column
      float: left
      width: (100% / $i)

  .rows-#{$i}
    > .row
      height: (100% / $i)