$colors: false, dark, grey, white
$icons: contribute, dive, gear, list, search, user
$sizes: 1, 2, 3, 4

.icon
  position: relative
  top: 1px
  line-height: 1
  display: inline-block
  background:
    color: transparent
    repeat: no-repeat
    position: center center
    size: cover

  @each $size in $sizes
    &[size='#{$size}']
      // @TODO
      // think about using pixels?
      width: #{$size}rem
      height: #{$size}rem

  @each $icon in $icons
    @each $color in $colors
      &.#{$icon}
        @if $color != false
          &.#{$color}
            background-image: url('/images/icons/icon-set_#{$icon}-#{$color}.svg')
        @else
          background-image: url('/images/icons/icon-set_#{$icon}.svg')